.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 320px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-left: 90px;
  bottom:30px;
  border-radius: 10px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content a{
  text-decoration: none;
}
.dropdown:hover .dropdown-content a:hover{
  color: red;
}
.funtion a:hover {
	color: red;
}